@charset "UTF-8";

#tpDatePicker {
	font-family: sans-serif;
	background: #EDEDED;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-box-shadow: 1px 2px 1px 1px rgba(0,0,0,.150);
	-moz-box-shadow: 1px 2px 1px 1px rgba(0,0,0,.150);
	box-shadow: 1px 2px 1px 1px rgba(0,0,0,.150);
	display: none;
}

#tpDateHead {		
	background: #EAEAEA;
	border: none;	
}

#tpDateHead tr:first-child {
	background: linear-gradient(#f2f2f2, #e2e2e2);
}

#tpDateHead > tr:first-child > th {		
	padding: 9px;	
}

#tpDateHead tr:nth-child(2) {
	background: linear-gradient(#E2E2E2, #D8D8D8);
	border: none;	
}

#tpDateHead tr:nth-child(2) th {
	font-size: 14px;
	padding: 7px;
	color: #333;
}

.tpDate_pastDate {
	color: #999;
}

#tpDateBody > tr > td {
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #D3D3D3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#tpDateBody > tr > td:hover {
	background: #00AEFF;
	color: #fff;
}

#tpDate-SM {
	background: transparent;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: #333;
}

#tpDate-SM::-ms-expand {
    display: none;
}

#tpDate-SM option {
	font-size: 13px;
}

#tpDate-SY {
	background: transparent;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: #555;
}

#tpDate-SY::-ms-expand {
    display: none;
}

#tpDate-SY option {
	font-size: 13px;
}

#tpDateBody tr > td {
	padding: 6px;
}